.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 4%;
  gap: 5%;
}

.login-container {
  background-color: #525252;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-head-text {
  font-size: 200%;
  margin-top: -6%;
  padding-top: 6%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  width: 90%;
  height: 20%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-group-split {
  display: flex;
  justify-content: space-evenly;
}

.form-group-split div {
  /* background-color: green; */
  width: 45%;
}

.form-group-split input {
  width: 90%;
  height: 20%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  width: 90%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button:hover {
  background-color: #0056b3;
}

.signup-text {
  font-size: 200%;
}

.signup-container {
  background-color: #525252;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
